In [12]:
# Využij metody sort_values() (a libovolných dalších metod), ke zjištění následujících informací:

# Adopce kterých zvířat je nejdražší?
# Které zvíře je alfabeticky poslední v češtině? Které v angličtině?
# Bonus můžeš doplnit o nějaké vlastní pozorování.

In [13]:
import pandas as pd

adopce = pd.read_csv("adopce-zvirat.txt", sep=';')
adopce.head

<bound method NDFrame.head of        id             nazev_cz                     nazev_en       trida_cz  \
0       7          Šváb syčivý  Madagascar giant cockroach      Bezobratlí
1       8  Pakobylka okřídlená     Pink-winged stick insect     Bezobratlí
2      16                Tayra                        Tayra          Savci
3      35        Kajmanka supí    Alligator snapping turtle          Plazi
4      37      Želva žlutočelá       Indochinese box turtle          Plazi
..    ...                  ...                          ...            ...
508  1417  Rosnice šalamounská                               Obojživelníci
509  1418       Létavka obecná                               Obojživelníci
510  1419          Bažant paví                                       Ptáci
511  1420  Sojkovec rezavouchý                                       Ptáci
512  1421   Kachnice kaštanová                                       Ptáci

     cena  k_prohlidce
0    1000            1
1    1000            1
2    5000            1
3    2000            1
4    1000            1
..    ...          ...
508  1000            1
509  1000            1
510  1000            1
511  1000            1
512  1000            1

[513 rows x 6 columns]>

In [14]:
# Adopce kterých zvířat je nejdražší?
pd.set_option("display.max_rows", 500)

nejdrazsi_zvire = adopce.sort_values(by='cena', ascending=False)

nejdrazsi_zvire

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
114,335,Tygr sumaterský,Sumatran tiger,Savci,50000,1
113,334,Tygr ussurijský,Siberian tiger,Savci,50000,1
272,897,Tygr malajský,Malayan tiger,Savci,50000,1
129,385,Hroch obojživelný,Hippopotamus,Savci,50000,1
128,381,Slon indický,Asian elephant,Savci,50000,1
...,...,...,...,...,...,...
278,913,Čichavec perleťový,Pearl gourami,Ryby,1000,0
277,911,Papoušek zpěvavý,Red-rumped parrot,Ptáci,1000,1
276,910,Papoušek vlnkovaný (= andulka vlnkovaná),Budgerigar,Ptáci,1000,0
275,909,Hýl mexický,House finch,Ptáci,1000,1
512,1421,Kachnice kaštanová,,Ptáci,1000,1

In [15]:
# Které zvíře je alfabeticky poslední v češtině? Které v angličtině?

alfabeticky_posledni_cz = adopce.sort_values(by='nazev_cz', ascending=False)
alfabeticky_posledni_cz

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
371,1190,Žluva hajní,Eurasian golden oriole,Ptáci,1000,1
321,1069,Žluna větší,Greater yellownape,Ptáci,1500,1
135,396,Žirafa severní núbijská (= Rothschildova),Rothschild's giraffe,Savci,50000,1
4,37,Želva žlutočelá,Indochinese box turtle,Plazi,1000,1
211,673,Želva černavá,Giant Asian pond turtle,Plazi,2000,1
...,...,...,...,...,...,...
391,1233,Agamka písečná,Toad-headed agama,Plazi,1500,1
383,1215,Agama turkestánská,Turkestan rock agama,Plazi,1500,1
382,1214,Agama stepní,Steppe agama,Plazi,1000,1
138,402,Adax,Addax,Savci,5000,1
194,621,Achatina žravá,Giant African snail,Bezobratlí,1000,1

In [16]:
alfabeticky_posledni_en = adopce.sort_values(by='nazev_en', ascending=False)
alfabeticky_posledni_en

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
161,491,Frankolín žlutokrký,Yellow-necked francolin,Ptáci,1000,1
455,1347,Vlhovec žlutokápý,Yellow-hooded blackbird,Ptáci,1000,0
341,1140,Majna žlutolící,Yellow-faced mynah,Ptáci,2000,1
230,745,Nesyt africký,Yellow-billed stork,Ptáci,2500,0
196,628,Mangusta liščí,Yellow mongoose,Savci,5000,1
...,...,...,...,...,...,...
303,1010,Zvonek zelený,,Ptáci,1000,1
491,1396,Kolpík africký,,Ptáci,3000,1
249,800,Husa domácí,,Ptáci,1500,1
483,1385,Tkalčík červenozobý,,Ptáci,1000,1
512,1421,Kachnice kaštanová,,Ptáci,1000,1