In [ ]:
# Kolik ma tabulka radku a kolik sloupcu?
import pandas as pd

adopce = pd.read_csv("adopce-zvirat.txt", sep=';')

adopce.shape

(513, 6)

In [8]:
# Jak se jmenuji sloupce tabulky?
adopce.columns()

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
0,7,Šváb syčivý,Madagascar giant cockroach,Bezobratlí,1000,1
1,8,Pakobylka okřídlená,Pink-winged stick insect,Bezobratlí,1000,1
2,16,Tayra,Tayra,Savci,5000,1
3,35,Kajmanka supí,Alligator snapping turtle,Plazi,2000,1
4,37,Želva žlutočelá,Indochinese box turtle,Plazi,1000,1

In [10]:
#  Které zvíře se nachází na záznamu s indexem 34? Vypiš název tohoto zvířete v češtině a v angličtině.
print(adopce.loc[[34], ['nazev_cz', 'nazev_en']])

id                                    8
nazev_cz            Pakobylka okřídlená
nazev_en       Pink-winged stick insect
trida_cz                     Bezobratlí
cena                               1000
k_prohlidce                           1
Name: 1, dtype: object