In [6]:
# import pandas as pd
# staty = pd.read_json("staty.json")
# staty.set_index("name", inplace=True)
# staty[["population", "area"]]
# staty["population_density"] = staty["population"] / staty["area"]
# staty = staty.sort_values("population_density", ascending=False)
# staty.head(20)

,alpha2Code,alpha3Code,capital,region,subregion,population,area,gini,population_density
name,,,,,,,,,
Macao,MO,MAC,,Asia,Eastern Asia,649100,30.00,NaN,21636.666667
Monaco,MC,MCO,Monaco,Europe,Western Europe,38400,2.02,NaN,19009.900990
Singapore,SG,SGP,Singapore,Asia,South-Eastern Asia,5535000,710.00,48.1,7795.774648
Hong Kong,HK,HKG,City of Victoria,Asia,Eastern Asia,7324300,1104.00,53.3,6634.329710
Gibraltar,GI,GIB,Gibraltar,Europe,Southern Europe,33140,6.00,NaN,5523.333333
Bahrain,BH,BHR,Manama,Asia,Western Asia,1404900,765.00,NaN,1836.470588
Malta,MT,MLT,Valletta,Europe,Southern Europe,425384,316.00,NaN,1346.151899
Bermuda,BM,BMU,Hamilton,Americas,Northern America,61954,54.00,NaN,1147.296296
Maldives,MV,MDV,Malé,Asia,Southern Asia,344023,300.00,37.4,1146.743333
Sint Maarten (Dutch part),SX,SXM,Philipsburg,Americas,Caribbean,38247,34.00,NaN,1124.911765
Bangladesh,BD,BGD,Dhaka,Asia,Southern Asia,161006790,147570.00,32.1,1091.053669
Holy See,VA,VAT,Rome,Europe,Southern Europe,451,0.44,NaN,1025.000000
Jersey,JE,JEY,Saint Helier,Europe,Northern Europe,100800,116.00,NaN,868.965517
Guernsey,GG,GGY,St. Peter Port,Europe,Northern Europe,62999,78.00,NaN,807.679487
Saint Martin (French part),MF,MAF,Marigot,Americas,Caribbean,36979,53.00,NaN,697.716981
Barbados,BB,BRB,Bridgetown,Americas,Caribbean,285000,430.00,NaN,662.790698
Taiwan,TW,TWN,Taipei,Asia,Eastern Asia,23503349,36193.00,NaN,649.389357
Mauritius,MU,MUS,Port Louis,Africa,Eastern Africa,1262879,2040.00,NaN,619.058333
Aruba,AW,ABW,Oranjestad,Americas,Caribbean,107394,180.00,NaN,596.633333
Lebanon,LB,LBN,Beirut,Asia,Western Asia,5988000,10452.00,NaN,572.904707

In [32]:
# Nacti dva datove sety sttudentu do oddelenych pandas DataFrame a pomoci concat je spoj do jednoho setu.
import pandas as pd

jmena = pd.read_csv("jmena_2.csv")
s1 = pd.read_csv("studenti1.csv")
s2 = pd.read_csv("studenti2.csv")

studenti_all = pd.concat([s1, s2], ignore_index=True)
studenti_all.shape[0]

345

In [26]:
# Pokud studentovi chybí ročník, znamená to, že již nestuduje. Pokud mu chybí číslo skupiny, znamená to, že jde o dálkového studenta.
# Kolik studentů v datovém setu již nestuduje a kolik jsou dálkoví studenti?
absolventi = (studenti_all[studenti_all['ročník'].isnull()])
print(absolventi.head(20))
absolventi.shape[0]

         jméno     příjmení                      obor  ročník  kruh  prospěch
6         Anna  Pavloušková        počítačová grafika     NaN  12.0      2.66
13       Alena      Krajová    softwarové inženýrství     NaN   7.0      1.64
33      Ondřej         Cicu        počítačová grafika     NaN   1.0      2.18
38      Václav       Straka        počítačová grafika     NaN   NaN      2.36
45      Michal      Linhart    softwarové inženýrství     NaN   9.0      2.20
64      Libuše    Šterclová        webové inženýrství     NaN  12.0      1.93
77    Miroslav        Smrek        počítačová grafika     NaN   2.0      1.86
89        Petr        Dobeš    softwarové inženýrství     NaN  12.0      1.47
96    Kateřina     Křivková  informatika a management     NaN   6.0      2.88
110      Pavel         Nový        webové inženýrství     NaN   1.0      2.37
124      David         Šikl        počítačová grafika     NaN  10.0      1.20
146       Jiří        Zeman  informatika a management     NaN  12.0      2.28
185     Eliška       Řípová         správa IT systémů     NaN   NaN      1.39
189      Pavla     Plhalová         správa IT systémů     NaN   9.0      1.43
194      David      Ševeček  informatika a management     NaN   1.0      2.88
203      Radek     Chrástek        číslicová technika     NaN   2.0      2.00
204     Blanka      Koubová        počítačová grafika     NaN   5.0      2.05
209    Jarmila      Selucká  informatika a management     NaN   6.0      2.34
212  Stanislav       Veselý  informatika a management     NaN   5.0      2.48
231      Irena     Štavková        webové inženýrství     NaN   5.0      1.67
234      Šárka     Šustrová        číslicová technika     NaN   6.0      2.01
246     Blanka       Dubová    softwarové inženýrství     NaN   1.0      2.91
248     Václav       Hrabec    teoretická informatika     NaN   6.0      2.72
259    Martina  Zámečníková        číslicová technika     NaN   6.0      2.24
263     Zuzana    Dvořáková        webové inženýrství     NaN  10.0      3.00
272   Miloslav        Vozka        webové inženýrství     NaN   9.0      2.21
283       Jiří      Jelínek        webové inženýrství     NaN   7.0      2.87
296      Libor        Boček  informatika a management     NaN   9.0      1.72
316      Jitka       Zíková    softwarové inženýrství     NaN   7.0      2.98
318     Renata     Vrkočová        číslicová technika     NaN   3.0      1.74
320   Miroslav      Růžička        webové inženýrství     NaN   7.0      1.37
328    Barbora      Surmová         správa IT systémů     NaN  12.0      2.61
331      Radek       Svatoš        počítačová grafika     NaN   1.0      2.85

33

In [27]:
dalkari = (studenti_all[studenti_all['kruh'].isnull()])
print(dalkari.head(20))
dalkari.shape[0]

        jméno    příjmení                      obor  ročník  kruh  prospěch
26   Jaroslav       Honza        číslicová technika     2.0   NaN      2.54
31     Zdeněk       Horák        číslicová technika     2.0   NaN      2.63
38     Václav      Straka        počítačová grafika     NaN   NaN      2.36
57     Monika  Doležalová         správa IT systémů     5.0   NaN      1.27
65    Natálie   Petříková        webové inženýrství     5.0   NaN      2.99
73        Jan        Póda        číslicová technika     2.0   NaN      2.33
76     Martin       Lupač        webové inženýrství     4.0   NaN      1.50
90       Jiří      Karban        počítačová grafika     2.0   NaN      1.89
103     Lukáš     Jarůšek        počítačová grafika     2.0   NaN      2.09
107     Roman     Marinec         správa IT systémů     2.0   NaN      2.14
136     Lucie      Dudová        číslicová technika     3.0   NaN      2.15
160      Věra    Sýkorová         správa IT systémů     2.0   NaN      1.71
185    Eliška      Řípová         správa IT systémů     NaN   NaN      1.39
188     Jakub       Kodet        číslicová technika     2.0   NaN      1.83
202    Daniel      Rezler        počítačová grafika     4.0   NaN      2.97
211     Petra    Šlégrová        číslicová technika     3.0   NaN      2.71
226       Jan        Hajs         správa IT systémů     1.0   NaN      1.58
238    Dagmar    Musilová        počítačová grafika     5.0   NaN      1.31
249      Věra   Kopperová  informatika a management     5.0   NaN      2.51
260  Veronika   Fieberová    teoretická informatika     1.0   NaN      2.18

27

In [31]:
# Vyčisti data od studentů, kteří nestudují nebo studují jen dálkově. Nadále budeme pracovat pouze s prezenčními studenty.
prezencni_studenti = studenti_all.dropna()
prezencni_studenti.shape[0]

287

In [35]:
# Zjisti, kolik prezenčních studentů je v každém z oborů.
pocet_studentu_oboru = prezencni_studenti['obor'].value_counts()
print(pocet_studentu_oboru)

informatika a management    49
teoretická informatika      47
webové inženýrství          46
softwarové inženýrství      41
správa IT systémů           38
počítačová grafika          33
číslicová technika          33
Name: obor, dtype: int64

In [38]:
# Zjisti průměrný prospěch studentů v každém oboru.
prumerny_prospech = prezencni_studenti.groupby("obor")["prospěch"].mean()
print(prumerny_prospech)

obor
informatika a management    2.088980
počítačová grafika          1.971515
softwarové inženýrství      1.960976
správa IT systémů           1.917632
teoretická informatika      2.136809
webové inženýrství          2.079130
číslicová technika          2.047576
Name: prospěch, dtype: float64

In [ ]:
# Načti datový set s křestními jmény. Proveď join s tabulkou studentů tak, abychom věděli pohlaví jednotlivých studentů.

In [ ]:
# Zjisti, zda na naší fakultě studují IT spíše ženy nebo spíše muži.