In [7]:
import pandas as pd
u202 = pd.read_csv("u202.csv")
u203 = pd.read_csv("u203.csv")
u302 = pd.read_csv("u302.csv")
u202.head()

   cisloStudenta           predmet  znamka den
0              1            Chemie     NaN  pá
1              2           Dějepis     3.0  pá
2              3        Matematika     2.0  út
3              2  Společenské vědy     2.0  pá
4              4          Biologie     1.0  pá

In [ ]:
# nacist tabulky rovnou bez prazdnych mist
# u202 = pd.read_csv("u202.csv").dropna()
# u203 = pd.read_csv("u203.csv").dropna()
# u302 = pd.read_csv("u302.csv").dropna()

In [8]:
u202[u202["znamka"].isnull()]

# dropna() /// vrati datovy set ocisteny od neuplnych dat
# u202.dropna(subset=["znamka", "predmet"]) = delete all rows where there is nothing in "znamka" or "znamka"

   cisloStudenta  predmet  znamka den
0              1   Chemie     NaN  pá
9              9  Dějepis     NaN  pá

In [9]:
# delete uncomplete  column; axis=0 --- delete uncomplete row
u202.dropna(axis=1)

    cisloStudenta           predmet den
0               1            Chemie  pá
1               2           Dějepis  pá
2               3        Matematika  út
3               2  Společenské vědy  pá
4               4          Biologie  pá
5               5           Dějepis  po
6               6            Fyzika  čt
7               7           Dějepis  po
8               8        Matematika  po
9               9           Dějepis  pá
10             10            Chemie  st
11              3            Chemie  út
12             11        Matematika  st
13             12          Biologie  st
14             10           Dějepis  st

In [10]:
# We've uploaded 3 csv tables in total. Making a joint table out of all 3:
u202.shape

(15, 4)

In [11]:
u203.shape

(15, 4)

In [12]:
u302.shape

(14, 4)

In [13]:
maturita = pd.concat([u202, u203, u302])
maturita.head()

   cisloStudenta           predmet  znamka den
0              1            Chemie     NaN  pá
1              2           Dějepis     3.0  pá
2              3        Matematika     2.0  út
3              2  Společenské vědy     2.0  pá
4              4          Biologie     1.0  pá

In [15]:
u202["mistnost"] = "u202"
u203["mistnost"] = "u203"
u302["mistnost"] = "u302"
maturita = pd.concat([u202, u203, u302])
maturita = maturita.reset_index(drop=True)
maturita.head(200)

maturita.iloc[5:16]

    index  cisloStudenta           predmet  znamka den mistnost
0       0              1            Chemie     NaN  pá     u202
1       1              2           Dějepis     3.0  pá     u202
2       2              3        Matematika     2.0  út     u202
3       3              2  Společenské vědy     2.0  pá     u202
4       4              4          Biologie     1.0  pá     u202
5       5              5           Dějepis     1.0  po     u202
6       6              6            Fyzika     2.0  čt     u202
7       7              7           Dějepis     4.0  po     u202
8       8              8        Matematika     2.0  po     u202
9       9              9           Dějepis     NaN  pá     u202
10     10             10            Chemie     2.0  st     u202
11     11              3            Chemie     5.0  út     u202
12     12             11        Matematika     1.0  st     u202
13     13             12          Biologie     4.0  st     u202
14     14             10           Dějepis     5.0  st     u202
15      0              5  Společenské vědy     3.0  po     u203
16      1             13        Matematika     5.0  po     u203
17      2              7       Informatika     3.0  po     u203
18      3             12            Fyzika     3.0  st     u203
19      4             14            Fyzika     3.0  st     u203
20      5             15            Chemie     3.0  pá     u203
21      6             16       Informatika     2.0  út     u203
22      7              8           Zeměpis     1.0  po     u203
23      8             17            Fyzika     4.0  po     u203
24      9             15  Společenské vědy     3.0  pá     u203
25     10             19       Informatika     NaN  po     u203
26     11             20            Fyzika     2.0  čt     u203
27     12              9  Společenské vědy     NaN  pá     u203
28     13             21          Biologie     4.0  st     u203
29     14             22           Zeměpis     3.0  út     u203
30      0             23       Informatika     1.0  po     u302
31      1             23  Společenské vědy     1.0  po     u302
32      2              6        Matematika     5.0  čt     u302
33      3              4       Informatika     1.0  pá     u302
34      4             16          Biologie     2.0  út     u302
35      5             20        Matematika     1.0  čt     u302
36      6             21       Informatika     4.0  st     u302
37      7             11            Chemie     5.0  st     u302
38      8             14           Dějepis     3.0  st     u302
39      9             19  Společenské vědy     NaN  po     u302
40     10             13            Chemie     4.0  po     u302
41     11             22       Informatika     3.0  út     u302
42     12              1           Zeměpis     NaN  pá     u302
43     13             17        Matematika     3.0  po     u302