In [1]:
# Úkol můžeš odevzdat buďto jako Jupyter Notebook .ipynb, nebo jako klasický program .py.

# Stáhni si soubor temperature.csv, který obsahuje informace o průměrné teplotě v různých městech v listopadu 2017.

# Vypiš si prvních několik řádků, ať si prohlédneš strukturu tabulky.

# Dále napiš následující dotazy:

# Dotaz na měření, která byla provedena v Praze. Je na datech něco zvláštního? Napadá tě, čím to může být? Zde je nápověda.
# Dotaz na měření, ve kterých je teplota (sloupec AvgTemperature) vyšší než 80 stupňů.
# Dotaz na měření, ve kterých je teplota vyšší než 60 stupňů a současně bylo měření provedeno v regionu (sloupec Region) Evropa (Europe).
# Dotaz na extrémní hodnoty, tj. měření, ve kterých je teplota vyšší než 80 stupňů nebo menší než -20 stupňů.

In [2]:
import pandas as pd

temperature = pd.read_csv("temperature.csv", sep=',')

temperature.shape
temperature.head

<bound method NDFrame.head of              Region  Country      City  Day  AvgTemperature
0            Africa  Algeria   Algiers    1            62.0
1            Africa  Algeria   Algiers    2            62.2
2            Africa  Algeria   Algiers    3            65.7
3            Africa  Algeria   Algiers    4            69.8
4            Africa  Algeria   Algiers    5            63.8
...             ...      ...       ...  ...             ...
8785  North America       US  Cheyenne   26            51.7
8786  North America       US  Cheyenne   27            55.5
8787  North America       US  Cheyenne   28            38.5
8788  North America       US  Cheyenne   29            36.8
8789  North America       US  Cheyenne   30            36.9

[8790 rows x 5 columns]>

In [3]:
# Mereni pouze v Praze: rozdeleni 1 sloupce na 5 sloupcu
print(temperature[temperature["City"] == 'Prague'])

      Region         Country    City  Day  AvgTemperature
2100  Europe  Czech Republic  Prague    1            43.5
2101  Europe  Czech Republic  Prague    2            48.5
2102  Europe  Czech Republic  Prague    3            44.4
2103  Europe  Czech Republic  Prague    4            39.7
2104  Europe  Czech Republic  Prague    5            40.6
2105  Europe  Czech Republic  Prague    6            42.3
2106  Europe  Czech Republic  Prague    7            43.5
2107  Europe  Czech Republic  Prague    8            41.4
2108  Europe  Czech Republic  Prague    9            43.8
2109  Europe  Czech Republic  Prague   10            43.0
2110  Europe  Czech Republic  Prague   11            39.5
2111  Europe  Czech Republic  Prague   12            36.7
2112  Europe  Czech Republic  Prague   13            35.8
2113  Europe  Czech Republic  Prague   14            35.5
2114  Europe  Czech Republic  Prague   15            39.1
2115  Europe  Czech Republic  Prague   16            38.5
2116  Europe  Czech Republic  Prague   17            36.6
2117  Europe  Czech Republic  Prague   18            37.0
2118  Europe  Czech Republic  Prague   19            37.5
2119  Europe  Czech Republic  Prague   20            37.0
2120  Europe  Czech Republic  Prague   21            41.3
2121  Europe  Czech Republic  Prague   22            44.6
2122  Europe  Czech Republic  Prague   23            41.8
2123  Europe  Czech Republic  Prague   24            46.2
2124  Europe  Czech Republic  Prague   25            43.3
2125  Europe  Czech Republic  Prague   26            34.6
2126  Europe  Czech Republic  Prague   27            36.1
2127  Europe  Czech Republic  Prague   28            39.3
2128  Europe  Czech Republic  Prague   29            36.9
2129  Europe  Czech Republic  Prague   30            33.7

In [4]:
#  Dotaz na měření, ve kterých je teplota (sloupec AvgTemperature) vyšší než 80 stupňů.
print(temperature[temperature["AvgTemperature"] > 80])

             Region Country             City  Day  AvgTemperature
30           Africa   Benin          Cotonou    1            81.7
31           Africa   Benin          Cotonou    2            81.8
32           Africa   Benin          Cotonou    3            83.6
33           Africa   Benin          Cotonou    4            83.4
34           Africa   Benin          Cotonou    5            80.3
...             ...     ...              ...  ...             ...
8011  North America      US      Brownsville    2            80.8
8012  North America      US      Brownsville    3            81.1
8015  North America      US      Brownsville    6            80.5
8042  North America      US   Corpus Christi    3            80.2
8074  North America      US  Dallas Ft Worth    5            80.1

[722 rows x 5 columns]

In [5]:
# Dotaz na měření, ve kterých je teplota vyšší než 60 stupňů a současně bylo měření provedeno v regionu (sloupec Region) Evropa (Europe).
print(temperature[(temperature["Region"] == "Europe") & (temperature["AvgTemperature"] > 60)])

      Region   Country       City  Day  AvgTemperature
1932  Europe   Albania     Tirana   13            60.3
2402  Europe     Italy       Rome    3            62.2
2404  Europe     Italy       Rome    5            60.4
2580  Europe  Portugal     Lisbon    1            62.5
2581  Europe  Portugal     Lisbon    2            63.2
2582  Europe  Portugal     Lisbon    3            61.1
2583  Europe  Portugal     Lisbon    4            61.6
2602  Europe  Portugal     Lisbon   23            64.2
2603  Europe  Portugal     Lisbon   24            62.6
2701  Europe     Spain  Barcelona    2            63.8
2702  Europe     Spain  Barcelona    3            63.1
2703  Europe     Spain  Barcelona    4            63.5
2704  Europe     Spain  Barcelona    5            61.6
2730  Europe     Spain     Bilbao    1            62.9
2731  Europe     Spain     Bilbao    2            66.3
2732  Europe     Spain     Bilbao    3            63.8
2751  Europe     Spain     Bilbao   22            62.7
2752  Europe     Spain     Bilbao   23            69.5
2753  Europe     Spain     Bilbao   24            62.5

In [6]:
# Dotaz na extrémní hodnoty, tj. měření, ve kterých je teplota vyšší než 80 stupňů nebo menší než -20 stupňů.
print(temperature[(temperature["AvgTemperature"] < -20) | (temperature["AvgTemperature"] > 80)])

             Region Country             City  Day  AvgTemperature
30           Africa   Benin          Cotonou    1            81.7
31           Africa   Benin          Cotonou    2            81.8
32           Africa   Benin          Cotonou    3            83.6
33           Africa   Benin          Cotonou    4            83.4
34           Africa   Benin          Cotonou    5            80.3
...             ...     ...              ...  ...             ...
8011  North America      US      Brownsville    2            80.8
8012  North America      US      Brownsville    3            81.1
8015  North America      US      Brownsville    6            80.5
8042  North America      US   Corpus Christi    3            80.2
8074  North America      US  Dallas Ft Worth    5            80.1

[772 rows x 5 columns]