In [22]:
# NEPOVINNY 1
# Nainstaluj si modul pytemperature a zkus si vytvořit nový sloupec, který bude obsahovat průměrnou templotu ve stupních Celsia.

# Ve svém programu nejprve proveď import modulu pytemperature. Nový sloupec pak přidáš do tabulky tak, že nalevo od = vložíš tabulku
# a název nového sloupce do hranatých závorek. Napravo pak můžeš provádět výpočty # pomocí již existujících sloupců.
# Můžeš např. použít funkci f2c z modulu pytemperature, která převede teplotu ze stupňů Fahrenheita na stupně Celsia.

import pytemperature

import pandas as pd

temperature = pd.read_csv("temperature.csv", sep=',')

temperature["AvgTemperatureCelsia"] = pytemperature.f2c(temperature["AvgTemperature"])
temperature.columns

# Nyní můžeš zpracovat následující příklady:

Index(['Region', 'Country', 'City', 'Day', 'AvgTemperature',
       'AvgTemperatureCelsia'],
      dtype='object')

In [23]:
# Dotaz na měření, ve kterých je teplota (sloupec AvgTemperatureCelsia) vyšší než 30 stupňů Celsia.
print(temperature[temperature["AvgTemperatureCelsia"] > 30])

                                 Region     Country             City  Day  \
421                              Africa  Mauritania       Nouakchott    2
430                              Africa  Mauritania       Nouakchott   11
510                              Africa     Nigeria           Niamey    1
526                              Africa     Nigeria           Niamey   17
527                              Africa     Nigeria           Niamey   18
528                              Africa     Nigeria           Niamey   19
930                                Asia       India  Bombay (Mumbai)    1
931                                Asia       India  Bombay (Mumbai)    2
935                                Asia       India  Bombay (Mumbai)    6
1247                               Asia        Laos        Vientiane   18
3990  South/Central America & Carribean       Haiti   Port au Prince    1
4111  South/Central America & Carribean    Suriname       Paramaribo    2

      AvgTemperature  AvgTemperatureCelsia
421             87.4                 30.78
430             87.1                 30.61
510             86.9                 30.50
526             86.3                 30.17
527             86.6                 30.33
528             86.6                 30.33
930             86.6                 30.33
931             86.4                 30.22
935             86.8                 30.44
1247            86.3                 30.17
3990            86.1                 30.06
4111            88.0                 31.11

In [24]:
# Dotaz na měření, ve kterých je teplota vyšší než 15 stupňů Celsia a současně bylo měření provedeno v regionu (sloupec Region) Evropa (Europe).
print(temperature[(temperature["Region"] == "Europe") & (temperature["AvgTemperature"] > 15)])

      Region     Country      City  Day  AvgTemperature  AvgTemperatureCelsia
1920  Europe     Albania    Tirana    1            47.6                  8.67
1921  Europe     Albania    Tirana    2            48.1                  8.94
1922  Europe     Albania    Tirana    3            51.0                 10.56
1923  Europe     Albania    Tirana    4            52.3                 11.28
1924  Europe     Albania    Tirana    5            51.7                 10.94
...      ...         ...       ...  ...             ...                   ...
3025  Europe  Yugoslavia  Belgrade   26            43.3                  6.28
3026  Europe  Yugoslavia  Belgrade   27            35.9                  2.17
3027  Europe  Yugoslavia  Belgrade   28            32.5                  0.28
3028  Europe  Yugoslavia  Belgrade   29            38.4                  3.56
3029  Europe  Yugoslavia  Belgrade   30            43.4                  6.33

[1110 rows x 6 columns]

In [25]:
# Dotaz na extrémní hodnoty, tj. měření, ve kterých je teplota vyšší než 30 stupňů Celsia nebo menší než -10 stupňů.
# Jsou některé hodnoty podezřelé?
print(temperature[(temperature["AvgTemperature"] < -10) | (temperature["AvgTemperature"] > 30)])

             Region  Country      City  Day  AvgTemperature  \
0            Africa  Algeria   Algiers    1            62.0
1            Africa  Algeria   Algiers    2            62.2
2            Africa  Algeria   Algiers    3            65.7
3            Africa  Algeria   Algiers    4            69.8
4            Africa  Algeria   Algiers    5            63.8
...             ...      ...       ...  ...             ...
8785  North America       US  Cheyenne   26            51.7
8786  North America       US  Cheyenne   27            55.5
8787  North America       US  Cheyenne   28            38.5
8788  North America       US  Cheyenne   29            36.8
8789  North America       US  Cheyenne   30            36.9

      AvgTemperatureCelsia
0                    16.67
1                    16.78
2                    18.72
3                    21.00
4                    17.67
...                    ...
8785                 10.94
8786                 13.06
8787                  3.61
8788                  2.67
8789                  2.72

[8344 rows x 6 columns]

In [26]:
# NEPOVINNY 2
# Napiš následující dotazy, hodnoty mohou byt v C nebo F:

In [27]:
# Dotaz na řádky z 13. listopadu 2017 (sloupec Day musí mít hodnotu 13).
print(temperature[temperature["Day"] == 13])

             Region                   Country         City  Day  \
12           Africa                   Algeria      Algiers   13
42           Africa                     Benin      Cotonou   13
72           Africa  Central African Republic       Bangui   13
102          Africa                     Congo  Brazzaville   13
132          Africa                     Egypt        Cairo   13
...             ...                       ...          ...  ...
8652  North America                        US    Green Bay   13
8682  North America                        US      Madison   13
8712  North America                        US    Milwaukee   13
8742  North America                        US       Casper   13
8772  North America                        US     Cheyenne   13

      AvgTemperature  AvgTemperatureCelsia
12              54.1                 12.28
42              84.1                 28.94
72              79.0                 26.11
102             79.6                 26.44
132             72.4                 22.44
...              ...                   ...
8652            32.6                  0.33
8682            30.0                 -1.11
8712            36.8                  2.67
8742            48.1                  8.94
8772            45.7                  7.61

[293 rows x 6 columns]

In [28]:
# Dotaz na řádky z 13. listopadu 2017 ze Spojených států amerických (sloupec Day musí mít hodnotu 13 a sloupec Country hodnotu US).
# Výsledek dotazu si ulož do nové tabulky a použij ji jako vstup pro následující dotaz.
nova_tabulka = (temperature[(temperature["Day"] == 13) & (temperature["Country"] == 'US')])
nova_tabulka.shape

(153, 6)

In [29]:
# Pro data z předchozího dotazu napiš dotaz na řádky ve městech (sloupec City) Washington a Philadelphia.
print(nova_tabulka[(nova_tabulka["City"] == 'Washington') | (nova_tabulka["City"] == 'Philadelphia')])

             Region Country          City  Day  AvgTemperature  \
4872  North America      US    Washington   13            45.2
4902  North America      US    Washington   13            45.2
7572  North America      US  Philadelphia   13            41.7

      AvgTemperatureCelsia
4872                  7.33
4902                  7.33
7572                  5.39